<a href="https://colab.research.google.com/github/khan5125/PythonPractice/blob/main/Python_Complete_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Chapter 1:** First Program just using print statement

In [ ]:
print(2+4)
print ("Hello! I am going to work on Python for data science")

6
Hello! I am going to work on Python for data science

**Chapter 2:** Operators

In [ ]:
# Here are 4 operators

print(2 + 5)
print(7 - 2)
print(3 * 9)
print(27 / 9)
print(21 // 5)
print(9 % 2) # show the remaining number after dividing
print(2 ** 3)

7
5
27
3.0
4
1
8

In [ ]:
# we can run directly all operators one by one without "Print" statement (we can not run all the operators at one time without "Print Statement")

# 3 + 8
# 4 - 1
# 5 * 9
# 6 / 2
6 // 2

3

**Chapter 3:** Strings ( '...' , "..." , '''...''' )

In [ ]:
print ('Test for Single quotes')
print ("Test for Double quotes")
print ('''Test for Tripple quotes''')

Test for Single quotes
Test for Double quotes
Test for Tripple quotes

**Chapter 4:** Variables

In [ ]:
name = "shradha"
age = 22
print(name)
print(age)

shradha
22

In [ ]:
first_name = "shradha"
last_name = "khapra"
full_name = "shardha khapra"
age = 10
is_adult = False
# we can print in both ways:
#print ( first_name + " " + last_name )
print (full_name)
print ( age )
print ( is_adult )

shardha khapra
10
False