<a href="https://colab.research.google.com/github/khan5125/PythonPractice/blob/main/Python_Complete_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Chapter 1: First Program just using print statement**

In [ ]:
print(2+4)
print ("Hello! I am going to work on Python for data science")

6
Hello! I am going to work on Python for data science

## **Chapter 2:  Operators**

**a) Arithmetic Operators**

In [44]:
# Here are Arithmetic operators

# All Arithmetic Operators
a = 5
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

# we can perform this by puting direct numbers

# print(2 + 5)
# print(7 - 2)
# print(3 * 9)
# print(27 / 9)
# print(21 // 5)
# print(9 % 2) # show the remaining number after dividing
# print(2 ** 3)

7
3
10
2.5
2
1
25

**b) Comparison Operators**

In [45]:
is_greater = 1 > 5
print(is_greater)
is_lesser = 1 < 5
print(is_lesser)

is_equal = 1 == 5
print(is_equal)
is_not_equal = 1 != 5
print(is_not_equal)

is_greater_or_equal = 1 >= 5
print(is_greater_or_equal)
is_lesser_or_equal = 1 <= 5
print(is_lesser_or_equal)

False
True
False
True
False
True

**c) Logical Operators**

In [48]:
number = 2

print(not number > 3)
print(not number < 3)

print(number > 3 and number < 3)
print(number > 3 or number < 3)

True
False
False
True

## **Chapter 3: Strings ( '...' , "..." , '''...''' )**

In [ ]:
print ('Test for Single quotes')
print ("Test for Double quotes")
print ('''Test for Tripple quotes''')

Test for Single quotes
Test for Double quotes
Test for Tripple quotes

In [35]:
name = "Tony Stark"
print(name.upper())
print(name.lower())
print(name)

TONY STARK
tony stark
Tony Stark

In [36]:
# find index of the characters amd words: using "find" function;
name = "Tony Stark"
print(name.find('o'))
print(name.find('a'))
print(name.find('Stark'))
print(name.find('Tony'))

1
7
5
0

In [38]:
# replace names or words using "replace" function

print(name.replace("Tony Stark" , "Ironman"))
print(name) # print original name for the comparision

Ironman
Tony Stark

In [42]:
#to check if a character/string is part of the main string or not using "in" function
name = "Tony Stark"

print("Stark" in name)
print("v" in name)
print("y" in name)

True
False
True

## **Chapter 4: Variables**

In [ ]:
name = "shradha"
age = 22
print(name)
print(age)

shradha
22

In [ ]:
first_name = "shradha"
last_name = "khapra"
full_name = "shardha khapra"
age = 10
is_adult = False
# we can print in both ways:
#print ( first_name + " " + last_name )
print (full_name)
print ( age )
print ( is_adult )

shardha khapra
10
False

In [27]:
# Exercise; Type your name and your superhero name Using input function

name = input ("What is your name? ")
print("Hello " + name)
superhero = input("What is your superhero name? ")
print(superhero)

What is your name? Faisal
Hello Faisal
What is your superhero name? Imran Khan
Imran Khan

## **Chapter 5: Type Conversion**

In [28]:
old_age = input ("Enter your age : ")
#new_age = old_age + 2
#print(new_age)
new_age = int(old_age) + 2
print(new_age)

#Useful converion functions
# 1. float()
# 2. bool()
# 3. str()
# 4. int()

Enter your age : 27
29

In [34]:
#Code for Sum of 2 Numbers

first_number = input("Enter 1st number : ")
second_number = input("Enter 2nd number : ")


sum = int(first_number) + int(second_number)

print("the sum is : " + str(sum))

Enter 1st number : 23
Enter 2nd number : 5
the sum is : 28