<a href="https://colab.research.google.com/github/khan5125/PythonPractice/blob/main/Python_Complete_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Chapter 1: First Program just using print statement**

In [ ]:
print(2+4)
print ("Hello! I am going to work on Python for data science")

6
Hello! I am going to work on Python for data science

## **Chapter 2:  Operators**

**a) Arithmetic Operators**

In [ ]:
# Here are Arithmetic operators

# All Arithmetic Operators
a = 5
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

# we can perform this by puting direct numbers

# print(2 + 5)
# print(7 - 2)
# print(3 * 9)
# print(27 / 9)
# print(21 // 5)
# print(9 % 2) # show the remaining number after dividing
# print(2 ** 3)

7
3
10
2.5
2
1
25

**b) Comparison Operators**

In [ ]:
is_greater = 1 > 5
print(is_greater)
is_lesser = 1 < 5
print(is_lesser)

is_equal = 1 == 5
print(is_equal)
is_not_equal = 1 != 5
print(is_not_equal)

is_greater_or_equal = 1 >= 5
print(is_greater_or_equal)
is_lesser_or_equal = 1 <= 5
print(is_lesser_or_equal)

False
True
False
True
False
True

**c) Logical Operators**

In [ ]:
number = 2

print(not number > 3)
print(not number < 3)

print(number > 3 and number < 3)
print(number > 3 or number < 3)

True
False
False
True

## **Chapter 3: Strings ( '...' , "..." , '''...''' )**

In [ ]:
print ('Test for Single quotes')
print ("Test for Double quotes")
print ('''Test for Tripple quotes''')

Test for Single quotes
Test for Double quotes
Test for Tripple quotes

In [ ]:
name = "Tony Stark"
print(name.upper())
print(name.lower())
print(name)

TONY STARK
tony stark
Tony Stark

In [ ]:
# find index of the characters amd words: using "find" function;
name = "Tony Stark"
print(name.find('o'))
print(name.find('a'))
print(name.find('Stark'))
print(name.find('Tony'))

1
7
5
0

In [ ]:
# replace names or words using "replace" function

print(name.replace("Tony Stark" , "Ironman"))
print(name) # print original name for the comparision

Ironman
Tony Stark

In [ ]:
#to check if a character/string is part of the main string or not using "in" function
name = "Tony Stark"

print("Stark" in name)
print("v" in name)
print("y" in name)

True
False
True

## **Chapter 4: Variables**

In [ ]:
name = "shradha"
age = 22
print(name)
print(age)

shradha
22

In [ ]:
first_name = "shradha"
last_name = "khapra"
full_name = "shardha khapra"
age = 10
is_adult = False
# we can print in both ways:
#print ( first_name + " " + last_name )
print (full_name)
print ( age )
print ( is_adult )

shardha khapra
10
False

In [ ]:
# Exercise; Type your name and your superhero name Using input function

name = input ("What is your name? ")
print("Hello " + name)
superhero = input("What is your superhero name? ")
print(superhero)

What is your name? faisal
Hello faisal
What is your superhero name? khan
khan

## **Chapter 5: Type Conversion**

In [ ]:
old_age = input ("Enter your age : ")
#new_age = old_age + 2
#print(new_age)
new_age = int(old_age) + 2
print(new_age)

#Useful converion functions
# 1. float()
# 2. bool()
# 3. str()
# 4. int()

Enter your age : 23
25

In [ ]:
#Code for Sum of 2 Numbers

first_number = input("Enter 1st number : ")
second_number = input("Enter 2nd number : ")


sum = int(first_number) + int(second_number)

print("the sum is : " + str(sum))

Enter 1st number : 23
Enter 2nd number : 45
the sum is : 68

## **Chapter 6: If statements**

In [ ]:
age = 10 # we can change this varible to check out all the conditions

if age >= 18:
  print("you are an adult and you can vote")
elif age <10:
  print("you are a child")
else:
  print("you are not an adult but you can not vote because you are under 18")

you are not an adult but you can not vote because you are under 18

### **Let’s build a Calculator**
### Short Exercise

In [ ]:
#Our Calculator
first = input("Enter first number : ")
first = int(first)
operator = input("Enter operator : ")
second = input("Enter second number : ")
second = int(second)


if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "*":
  print(first * second)
elif operator == "/":
  print(first / second)
elif operator == "%":
  print(first % second)
else:
  print("Invalid Operation")

Enter first number : 3
Enter operator : -
Enter second number : 5
-2

## **Chaptet 7: Range in Python**

In [ ]:
numbers = range(4) # we can put any number here
print(numbers) # it will show the range of numbers

# using "for loop"
for number in numbers:
  print(number)
  number = number + 1 # we can also run without this "line of code"

range(0, 4)
0
1
2
3

In [ ]:
# prompt: range in numbers

#for number in range(5):  # Creates a sequence from 0 up to (but not including) 5
# print(number)


for i in range(2, 8):  # Creates a sequence from 2 up to (but not including) 8
  print(i)



#for i in range(1, 10, 2):  # Creates a sequence from 1 up to (but not including) 10, incrementing by 2
#  print(i)

2
3
4
5
6
7

In [ ]:
# prompt: range with while loop

# Using a while loop to achieve the same functionality as range
i = 0
while i < 5:  # You can change the 5 to the desired upper limit
  print(i * "+")
  i = i + 1  # Increment i in each iteration

+
++
+++
++++

In [ ]:
# prompt: while loop in range with operators

i = 0
while i < 10:  # You can change the 5 to the desired upper limit
  print(i * "+")
  i += 1  # Increment i in each iteration

i = 0
while i < 5:
  print(i)
  i = i + 1

i = 0
while i < 10:
  if i % 2 == 0:
    print(i)
  i = i + 1

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
0
1
2
3
4
0
2
4
6
8

## **Chapter 8: Lists**

In [ ]:
friends = ["amar", "akbar", "anthony"]
print(friends) # show the whole list

# these commands will the names with relevant numbers
print(friends[0])
print(friends[2])
print(friends[1])

['amar', 'akbar', 'anthony']
amar
anthony
akbar

In [ ]:
# to replace the name from the list
friends[2] = "aman"
print(friends)

['amar', 'akbar', 'aman']

In [ ]:
print(friends[0:2]) # not including 2 (only 0 and 1)

['amar', 'akbar']

In [ ]:
for i in friends: # Here "i" is a new variable and we can put the name of the variable as we want
  print(i)

amar
akbar
aman

**Different type of functions in the list we can preform**

In [10]:
# "append" function means add anything at the end of the list
marks = ["english", 95, "chemistry", 98]
#marks.append("physics")
#marks.append(97)
# another way
marks.append("physics, 93")
print(marks)

['english', 95, 'chemistry', 98, 'physics, 93']

In [11]:
# "insert" function means add anything at any position in the list.
marks.insert(0, "Bio")
marks.insert(1, 100)
print(marks)

['Bio', 100, 'english', 95, 'chemistry', 98, 'physics, 93']

In [13]:

# Method 1: Using remove() - removes the first occurrence of the element
if "chemistry, 98" in marks:
  marks.remove("chemistry, 98")
  # Also remove the corresponding score (98)
  #if 98 in marks:
   # marks.remove(98)
marks


# Method 2: Using index and del - if you know the index of the subject
# index_to_remove = marks.index("chemistry")
# del marks[index_to_remove]

# # Also remove the corresponding score
# score_index = index_to_remove + 1
# del marks[score_index]
# print(marks)

['Bio', 100, 'english', 95, 'physics, 93']

In [14]:
marks.remove("physics, 93")
print(marks)

['Bio', 100, 'english', 95]

In [17]:
print ("math" in marks) # we can check eitehr any subjects listed in the list

False

In [7]:
# Break and Continue functions

std = ["ram", "sham", "kishan", "radha", "radhika"]


for i in std:
  if i == "radha":
    break
  print(i)

ram
sham
kishan

In [8]:
for i in std:
  if i == "radha":
    continue
  print(i)

ram
sham
kishan
radhika

## **Chapter 9: Tuples**
They are like lists (sequence of objects) but they are immutable i.e. once they have beendefined we cannot change them. Parenthesis in tuples are optional.

In [14]:
marks = (95, 98, 97)
print(marks)

#marks[0] = 98 we can not assign / insert any item in "tuple"

print(marks.index(97))

(95, 98, 97)
2

## **Chapter 10: Sets**
Sets are a collection of all unique elements. Indexing is not supported in sets.

In [17]:
marks = {95, 98, 97}
print(marks)

# TO Horizontal to Vertical
for score in marks:
  print(score)

{97, 98, 95}
97
98
95

## **Dictionary**
Dictionary is an unordered collection of Items. Dictionary stores a (key, value) pair.

In [35]:
marks ={"math":99, "chemistry":98, "physics":97}
print(marks)

print(marks["math"]) # Here! we can show numbers of different subjects

{'math': 99, 'chemistry': 98, 'physics': 97}
99

In [37]:
# insert another subject with marks in dictionary
marks["english"] = 95
marks["Bio"] = 90
print(marks)

{'math': 99, 'chemistry': 98, 'physics': 97, 'english': 95, 'Bio': 90}

## **Functions in Python**
Function is a piece of code that performs some task. (In a tv remote, each button performs afunctions, so a function is like that button in code):

**a. Module functions**

Module is a file that contains some functions & variables which can be imported for use in otherfiles. Each module should contain some related tasks Example : math, random, string

In [38]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [39]:
import random
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_floor', '_index', '_inst', '_isfinite', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [40]:
import string
print(dir(string))

['Formatter', 'Template', '_ChainMap', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_re', '_sentinel_dict', '_string', 'ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'capwords', 'digits', 'hexdigits', 'octdigits', 'printable', 'punctuation', 'whitespace']

In [42]:
from math import sqrt
print(sqrt(144))

12.0

**b. User-defined functions**

In [47]:
def sum(a, b = 4):
  print(a + b)
sum(1, 2)
sum(1)

3
5